
{% extends 'base.html' %}

{% block title %}
    Landing page
{% endblock title %}

{% block content %}
    {% if name == "Ricardo" %}
        <h1>Hola profe</h1>
        <h2>{{ name | title}}</h2>
    {% elif  name == "Fernando"%}
        <h1>Hola profe :D</h1>
    {% else %}
        <h1>Hola invitado</h1>
    {% endif %}

    
    {% for tool in stack %}
        <li><a href="{% url 'stack' tool.id%}">{{tool.name}}</a></li>
    {% empty %}
        <li> No hay tecnologías disponibles</li>    
    {% endfor %}
{% endblock content %}